<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Главная страница</title>

    {% if request.user.is_authenticated %}
      <p><a href="{% url 'home' %}">Домой</a> | <a href="{% url 'logout' %}">Выйти</a></p> <!-- убрать лого -->
      <p>Привет, {{request.user.username}}</p>
    {% else %}
      <p>
        <a href="{% url 'home' %}">Домой</a> |
        <a href="{% url 'register' %}">Регистрация</a> | 
        <a href="{% url 'login' %}">Войти</a>
        </p>
    {% endif %}
    <hr>


</head>

<body>

  {% block content %}

  {% endblock content %}
  
</body>

<footer>
    <hr>
    <small>Чат 2021</small>
</footer>
</html>